<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paasta.newernews">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name="com.paasta.NewerNewsApplication"
        android:allowBackup="true"
        android:icon="@drawable/newer_news_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewerNews"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">
        <!--android:networkSecurityConfig="@xml/network_security_config"-->

        <activity
            android:name="com.paasta.newernews.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity android:name="com.paasta.newernews.presentation.ui.permission.PermissionActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="com.paasta.newernews.presentation.ui.onboarding.OnboardingActivity"/>

        <activity android:name="com.paasta.newernews.presentation.ui.login.LoginActivity"/>

        <activity android:name="com.paasta.newernews.presentation.ui.signup.SignUpActivity"/>

        <activity android:name="com.paasta.newernews.presentation.ui.WebViewActivity"/>

        <meta-data
            android:name="com.google.android.geo.API-KEY"
            android:value="AIzaSyCbuVwtIapfGxO5HuZqjW6sHhaTeB9dj8g"/>

    </application>

</manifest>